.carousel-slide-caption-gallery {
    width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.gallery-images{
    width: 95% !important;
}
.gallery-border-div{
    width: 95% !important;
}

@media (min-width:668px) and (max-width:767px){
    .gallery-images{
        max-width: 700px !important;
    }
}

@media (min-width:767px){
    .carousel-slide-caption-gallery {
        width: 80% !important;
    }
    
    .gallery-images{
        width: 80% !important;
    }
    .gallery-border-div{
        width: 80% !important;
    }
}