@font-face {
    font-family: "IndonesiaMerdeka";
    src: local("IndonesiaMerdeka"),
     url("./fonts/IndonesiaMerdeka/Indonesia-Merdeka.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
     url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Journal";
    src: local("Journal"),
     url("./fonts/Journal/JOURNAL.TTF") format("truetype");
}
@font-face {
    font-family: "EgyptianNights";
    src: local("EgyptianNights"),
     url("./fonts/EgyptianNights/EgyptianNights.ttf") format("truetype");
}
@font-face {
    font-family: "MamakiloBlack";
    src: local("MamakiloBlack"),
     url("./fonts/MamakiloBlack/MamakiloBlack.ttf") format("truetype");
}
@font-face {
    font-family: "MamakiloDecorative";
    src: local("MamakiloDecorative"),
     url("./fonts/MamakiloDecorative/MamakiloDecorative.ttf") format("truetype");
}

#toggle-nav-full{
    height: 110px !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

p, #menu-footer-menu-updated li a, li, p a {
    font-family: "Montserrat";
    color: #333333;
}
a{
    transition: all 0.3s ease;
}

